/* BioCard.css */

.bio-card {
  display: flex;
  flex-direction: row; /* Change to row to align items horizontally */
  align-items: center;
  background-color: #f8f8f8;
  margin-top: 50%;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 100%;
  text-align: center;
}

.avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  margin-left: 20px; /* Change margin to separate avatar from details on the right side */
}

  .name {
    font-size: 1.8em;
    font-weight: bold;
    color: #333;
    margin-bottom: 5px;
  }
  
  .username {
    font-size: 1em;
    color: #555;
  }
  
  .info {
    font-size: 0.9em;
    color: #555;
    margin-left: 100px;
    margin-top: 20px; /* Add margin to separate details from avatar */
  }
  